.venv/
venv/
ENV/
env/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
installdata/
__pypackages__/
.eggs/
.pytest_cache/
.mypy_cache/
.dmypy.json
*.log
.env
env.bak
.venv/
.vscode/
*.sqlite3
/.vscode/
/.idea/
*.sublime-project
*.sublime-workspace
node_modules/
npm-debug.log
.DS_Store

